@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    font-family: 'Lexend', sans-serif;
    transition: background 0.1s;
}

body {
    color: #1a202c;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}

h1,
h2,
h3,
p {
    cursor: default;
}

a {
    color: #0064c8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
}

label {
    display: block;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    -webkit-padding: 0.4em 0;
    padding: 0.4em;
    margin: 0 0 0.5em 0;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-radius: 2px;
}

input:disabled {
    color: #ccc;
}

button {
    color: #333333;
    background-color: #f4f4f4;
    outline: none;
}

button:disabled {
    color: #999;
}

button:not(:disabled):active {
    background-color: #dddddd;
}

button:focus {
    border-color: #666;
}

.navbar-toggler {
    outline: none;
}
/* Darkmode */
#darkmode {
    background: #1a202c;
    color: #ffffff;
    transition: background 0.1s;
}
#darkmode a {
    color: #ffffff;
}
#darkmode a:hover {
    color: #c2b9b9;
}
#darkmode .dropdown-menu {
    background: #1a202c;
    color: #ffffff;
    font-family: 'Lexend', sans-serif;
}
#darkmode .navbar-toggler:hover {
    background: #141414;
}
#darkmode .dropdown-menu {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}
#darkmode .dropdown-menu button {
    color: #ffffff;
    font-family: 'Lexend', sans-serif;
}
#darkmode .dropdown-menu button:hover {
    background: #141414;
}
#darkmode .link-general {
    color: #3579bd;
}
#darkmode .link-general:hover {
    color: #0064c8;
}
#darkmode footer a {
    color: #3579bd;
}
#darkmode footer a:hover {
    color: #0064c8;
}
/* Navbar */
.nav {
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
    font-family: 'Lexend', sans-serif;
}
.nav a {
    text-decoration: none;
}

/* Scrolling */
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #db34eb;
    border-radius: 10px;
}
